// ********* DESIGN SYSTEM *********

// ************ COLORS ************
$color-white: #fff;
$color-elephant: #133041;
$color-marble-blue: #4e6e7e;
$color-grey-blue: #6b94a8;
$color-pear: #d8db2f;
$color-pattens-blue: #e4f4fd;
$color-rum-swizzle: rgba(216, 219, 47, 0.15);
$color-light-grey-blue: #9abed5;
$color-firefly: rgba(0, 0, 0, 0.25);
$color-dark-slate-grey: rgba(154, 190, 213, 0.25);
$color-dark-jungle-green: #1e1e1e;
$color-grapefruit: #d73328;

// ********** FONT-FAMILY **********
$font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

// ********* FONT-WEIGHTS *********
$fw-medium: 500;
$fw-bold: 700;

// ************* BASE *************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $color-pattens-blue;
  font-family: $font-plus-jakarta-sans;
}

html,
body {
  height: 100%;
}

// ************ MIXINS ************
@mixin prefix-suffix-input {
  height: 100%;
  font-size: 1.8rem;
  font-weight: $fw-bold;
  line-height: 2.25rem;
}

// ******** MOBILE LAYOUTS ********

// ********* 375px LAYOUT *********

// ************** APP **************
.app {
  display: flex;
  flex-direction: column;
}

// ************ INPUTS ************
.inputs {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background: $color-white;
  padding: 3.2rem 2.4rem;

  &__header-clear {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__header {
    color: $color-elephant;
    font-size: 2.4rem;
    font-weight: $fw-bold;
    line-height: 3rem;
  }

  &__clear {
    color: $color-marble-blue;
    font-size: 1.6rem;
    font-weight: $fw-medium;
    line-height: 2.4rem;
    text-decoration-line: underline;
    text-underline-position: from-font;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__term-rate {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
}

// ************ INPUT *************
.input {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  &__label {
    color: $color-marble-blue;
    font-size: 1.6rem;
    font-weight: $fw-medium;
    line-height: 2.4rem;
  }

  &__container {
    display: flex;
    height: 4.8rem;
    border-radius: 0.4rem;
    border: 0.1rem solid $color-grey-blue;

    &:focus-within {
      border-color: $color-elephant;
    }
  }

  &__prefix-suffix {
    display: flex;
    padding: 1.2rem 1.6rem;
    justify-content: center;
    align-items: center;
    background: $color-pattens-blue;
    border-radius: 0.4rem 0 0 0.4rem;
    color: $color-marble-blue;
    @include prefix-suffix-input;
  }

  &__input {
    width: 100%;
    padding: 0 1.6rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    color: $color-elephant;
    font-family: inherit;
    caret-color: $color-dark-jungle-green;
    @include prefix-suffix-input;
  }

  &__error {
    color: $color-grapefruit;
    font-size: 1.4rem;
    font-weight: $fw-medium;
    line-height: 2.1rem;
  }

  &__radios {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__radio-container {
    // UP TO STYLING THIS
  }
}

// ******** DYNAMIC-STYLES ********
.suffix {
  order: 1;
  border-radius: 0 0.4rem 0.4rem 0;
}
